<!DOCTYPE html>
<!-- saved from url=(0034)http://localhost:3002/cabinet/news -->
<html class="desktop portrait"><!--[if lt IE 9]>
<![endif]-->
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>
    <%= layout_title %>
  </title>
  <% current_favicon_folder = Rails.env.production? ? current_company.favicon_folder : "favicon"%>
  <meta name="description" content="<%= current_company.meta_description %>">
  <meta name="keywords" content="<%= current_company.meta_keywords %>">
  <link rel="apple-touch-icon" sizes="57x57" href="/<%= current_favicon_folder %>/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/<%= current_favicon_folder %>/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/<%= current_favicon_folder %>/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/<%= current_favicon_folder %>/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/<%= current_favicon_folder %>/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/<%= current_favicon_folder %>/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/<%= current_favicon_folder %>/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/<%= current_favicon_folder %>/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/<%= current_favicon_folder %>/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/<%= current_favicon_folder %>/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/<%= current_favicon_folder %>/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/<%= current_favicon_folder %>/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/<%= current_favicon_folder %>/favicon-16x16.png">
  <link rel="manifest" href="/<%= current_favicon_folder %>/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/<%= current_favicon_folder %>/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta name="interkassa-verification" content="63fbfa1c569045e082b4b3f5f89b3de4" />
  <meta name="yandex-verification" content="7a92de6225e2700a" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <script type="text/javascript" src="//vk.com/js/api/openapi.js?143"></script>
  <% current_color_theme = theme_color %>
  <%= stylesheet_link_tag 'application' %>
  <style>
    .backgroundCustomize{
      background-color: <%= current_color_theme[:btn_color] %>;
    }
    .colorCustomize{
      color: <%= current_color_theme[:btn_color] %>;
    }
    .colorHoverCustomize:hover{
      color: <%= current_color_theme[:btn_color] %> !important;
    }
    .backgroundHoverCustomize:hover{
      background-color: <%= current_color_theme[:btn_color] %> !important;
    }
    .borderColorCustomize, .borderColorCustomize:after{
      border-color: <%= current_color_theme[:btn_color] %> !important;
    }
    #sliderSort .noUi-connect{
      background-color: <%= current_color_theme[:btn_color]%> !important;
    }
    .asidBarColor{
      background-color: <%= current_color_theme[:left_bar_color] %>;
    }
  </style>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <%= yield :script %>
  <%= javascript_include_tag 'application'%>
  <script src="/uploads/script/information-block.js" type="text/javascript"></script>

  <script src="/uploads/script/aside.js" type="text/javascript"></script>
  <script src="/uploads/script/to_bot.js" type="text/javascript"></script>
  <script src="/uploads/script/jquery.mask.min.js" type="text/javascript"></script>
  
  <link href="/noUIslider/nouislider.min.css" rel="stylesheet">
  <script src="/noUIslider/nouislider.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <%= yield :styles %>
  <!--<link href="/uploads/application.css" media="all" rel="stylesheet" type="text/css">-->

  <body style="background: <%= current_color_theme[:body_color] %>;">
    <%= render "layouts/header" %>
    <%= render "layouts/left_sidebar/section" %>
    <%= render "layouts/right_sidebar/section" %>
    <section class="content__wrp wrapper">
      <%class_inner = all_product_items_top.blank? ? "not_right_bar" : ""%>
      <div class="inner__right-sidebar <%= class_inner %>" style="">
        <div class="inner-left-sidebar">
          <div class="inner__my-tasks" id="content">
            <%= yield %>
          </div>
        </div>
      </div>
    </section>

    <div id="alert">
      <div class="text"></div>
      <div class="close">×</div>
    </div>

    <div id="to-top" style="z-index: 20;">
      <!--<span class="open_right_aside open" style="display: none;"></span>-->
      <a class="for-hover" href="javascript:void(0)" style="display: none;"></a>
    </div>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?143"></script>

    <!-- VK Widget -->
    <% if Rails.env.production? %>
    <%= raw current_magazine["vk_chat_widget"] %>
    <%= raw current_magazine["ya_metrika"] %>
    <% end %>
  </body>
  </html>